doctype html
html
	head
		meta(charset='utf-8')
		title Metaledger
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script(src='https://d3js.org/d3.v4.min.js')
		script(src='/metaledger.js')
		style.
			path.link {
				fill: none;
				stroke: #666;
				stroke-width: 1.5px;
			}

			circle {
				fill: #ccc;
				stroke: #fff;
				stroke-width: 1.5px;
			}

			text {
				fill: #000;
				font: 10px sans-serif;
				pointer-events: none;
			}
	body
		svg(width='960', height='600')
